<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>870171387832-2665ombqa7di12t6alvtq7t2v0jeglnr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.870171387832-2665ombqa7di12t6alvtq7t2v0jeglnr</string>
	<key>API_KEY</key>
	<string>AIzaSyCkloiOq9ZHD6tGidBnBTuNULRyiuFJcZU</string>
	<key>GCM_SENDER_ID</key>
	<string>870171387832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled</string>
	<key>PROJECT_ID</key>
	<string>esv-steyr</string>
	<key>STORAGE_BUCKET</key>
	<string>esv-steyr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870171387832:ios:5448f8b883efa97e19114d</string>
</dict>
</plist>